.gradient {
  width: 350px;
  height: 200px;
  background: rgba(83, 0, 112, 0.7);
  filter: blur(100px);
  position: absolute;
  z-index: 0;
  opacity: 0.8;
}
.gradient {
  left: -250px;
  top: 30px;
}
@media only screen and (min-width: 768px) {
  .gradient {
    left: -150px;
    top: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .gradient {
    width: 500px;
    height: 500px;
    bottom: auto;
  }
  .gradient {
    left: -450px;
    top: -70px;
  }
}
