.nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  margin-top: 28px;
}
.navLink,
.authButton {
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 16px;
}
.authButton {
  border: none;
  text-align: left;
}
.navLink:hover,
.authButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
