.container {
  width: 100%;
  margin-top: 24px;
}

.mainList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainListItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specLabel {
  font-weight: 600;
  color: #333;
}

.specValue {
  color: #666;
}

.subList {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subListItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bulletPoint {
  width: 6px;
  height: 6px;
  background-color: #d44cef;
  border-radius: 50%;
}

:global(.ant-collapse) {
  background: none !important;
  border: none !important;
}

:global(.ant-collapse-item) {
  border: none !important;
  margin-bottom: 8px;
}

:global(.ant-collapse-header) {
  padding: 0 !important;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}

:global(.ant-collapse-content) {
  border: none !important;
  background: none !important;
}

:global(.ant-collapse-content-box) {
  padding: 16px 0 !important;
}

:global(.ant-collapse-expand-icon) {
  color: #139cb7 !important;
  padding-inline-end: 0 !important;
  padding-inline-start: 8px !important;
}

:global(.ant-collapse-expand-icon svg) {
  width: 24px !important;
  height: 24px !important;
}

:global(.ant-collapse-header-text) {
  font-family: "Satoshi Variable", sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
  :global(.ant-collapse-content-box) {
    padding: 36px 0 !important;
  }
}

@media only screen and (min-width: 1440px) {
  .specsContainer {
    font-size: 18px;
  }
  .container {
    margin-top: 64px;
    padding-bottom: 100px;
  }
  :global(.ant-collapse) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  :global(.ant-collapse-header-text) {
    font-size: 36px;
  }

  :global(.ant-collapse-expand-icon svg) {
    width: 32px !important;
    height: 32px !important;
  }
  :global(.ant-collapse-content-box) {
    padding: 36px 0 !important;
  }
}
