.reviewForm {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: #101828;
}

.reviewForm input,
.reviewForm textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  align-items: center;
  color: #101828;
  resize: none;
}
.userInfo {
  margin-bottom: 12px;
}
.reviewForm button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reviewForm button:hover {
  background-color: #bc38b8;
}
.submitButton {
  background-color: #d341cf;
  margin-top: 12px;
}

.errorMessage {
  padding: 20px;
  text-align: center;
  color: #666;
}
@media only screen and (max-width: 767px) {
  .ratingContainer {
    display: flex;
    flex-wrap: nowrap;
  }
  .reviewForm button {
    padding: 10px 12px;
  }
}
