.mainBox {
  margin-top: 32px;
  width: 100vw;
  margin-left: calc(-1 * (100vw - 100%) / 2);
  background: #fff;
  padding: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.line {
  width: 100vw;
  height: auto;
  border: 1px solid rgba(209, 205, 209, 0.8);
  margin-top: 12px;
  margin-left: calc(-1 * (100vw - 100%) / 2);
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.description,
.techInfo {
  font-family: "Satoshi Variable", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.description {
  text-align: center;
}

.photoBox {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/images/desktop/background.jpg");

  background-size: cover;
  background-position: center;
  /* box-shadow: 4px 4px 10px rgba(92, 167, 174, 0.8); */
  box-shadow: 4px 4px 10px rgba(238, 193, 238, 0.8);
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-left: calc(-1 * (100vw - 100%) / 2);
}
.img {
  width: 300px;
  height: 300px;
}
.techInfo {
  margin-top: 24px;
}
.text {
  font-size: 24px;
}
.list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.listItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
