.title {
  font-size: 16px;
}
.wrapperBox {
  margin: 24px 0;
}
.list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.loadingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
@media only screen and (max-width: 767px) {
  .list {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media only screen and ((min-width: 768px) and (max-width: 1439px)) {
  .wrapperBox {
    margin: 72px 0;
  }
  .list {
    margin-top: 56px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 32px;
    gap: 30px;
  }

  .title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapperBox {
    margin: 132px 0;
  }
  .title {
    font-size: 32px;
  }
  .list {
    transition: transform 0.3s ease;
  }

  .listWrapper {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  .arrowsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 32px;
  }
}
