.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.box {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}
.reviewCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.avatar {
  border-radius: 60px;
  width: 40px;
  height: 40px;
  background-color: #f2f4f7;
  color: #d341cf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33333;
}

.reviewContent {
  flex: 1;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.starFilled {
  fill: #ffc531;
  font-size: 16px;
}

.starEmpty {
  color: #f2f4f7;
  font-size: 16px;
}

.comment {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}
.reviewBtn {
  border: none;
  background-color: #f2f4f7;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: #182627;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewBtn:hover,
.reviewBtn:focus {
  background-color: #e3e5e6;
}
@media only screen and (min-width: 1440px) {
  .reviewsContainer {
    font-size: 18px;
  }
  .avatar {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
  .comment {
    font-size: 18px;
  }
}
