.subscrBox {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.text {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 24px;
}
.input {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 10px 16px;
  width: 327px;
  height: 62px;
  background: transparent;
}
.btn {
  border-radius: 4px;
  padding: 10px 16px;
  width: 327px;
  height: 62px;
  background: #3ddeed;
  font-weight: 700;
  font-size: 16px;
  color: #0f041c;
}
.btn:hover,
.btn:focus {
  background-color: #3fcad7;
}
.inputAndBtnBox {
  display: flex;
  align-items: center;

  margin-top: 24px;
  gap: 12px;
  column-gap: 0px;
}
@media only screen and (max-width: 767px) {
  .subscrBox {
    margin: 24px 0;
  }
  .inputAndBtnBox {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and ((min-width: 768px) and (max-width: 1439px)) {
  .input {
    margin: 0;
  }
  .btn {
    margin: 0;
  }
  .inputAndBtnBox {
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1440px) {
  .subscrBox {
    margin: 0;
  }
  .input {
    margin: 0;
    width: 280px;
  }
  .btn {
    padding: 16px;
    width: 137px;
    margin: 0;
    margin-left: -5px;
  }
  .inputAndBtnBox {
    margin-top: 45px;
    flex-direction: row;
  }
}
