.item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.vrItem {
  border-radius: 16px;
  width: 280px;
  height: 351px;
  background: rgb(250, 250, 250, 0.3);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(191, 35, 245, 0.8);
}
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.29412;
  letter-spacing: 0em;
  color: #3ddeed;
  padding-top: 4px;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  margin-top: -120px;
  margin-right: -150px;
}
.imgBox:hover,
.imgBox:focus {
  scale: 3px;
  transform: scale(1.03);
}
.box {
  border-radius: 0 0 16px 16px;
  width: 280px;
  height: 16px;
  background-color: #3ddeed;
  margin-left: -24px;
  margin-bottom: -24px;
}
.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text {
  margin-top: 6px;
  color: #bac5cf;
}
.price {
  color: #bac5cf;
}
.list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.listItem {
  font-family: "Satoshi Variable", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
.boxBtn {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.detailsBtn {
  border: none;
  background-color: transparent;
}
.detAndPrice {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}
.favContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.favoriteBtn {
  width: 28px;
  height: 28px;
  padding: 4px;
}
.favoriteIcon {
  color: #bac5cf;
  width: 22px;
  height: 22px;
}
.favoriteIcon:focus,
.favoriteIcon:hover {
  color: rgb(159, 242, 108);
}
.favoriteIcon.active {
  color: rgb(159, 242, 108);
}
