.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vrItem {
  border-radius: 16px;
  width: 280px;
  height: 351px;
  background: rgb(250, 250, 250, 0.3);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(191, 35, 245, 0.8);
}
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.29412;
  letter-spacing: 0em;
  color: #64d9e3;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
.img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  margin-top: -130px;
  margin-right: -170px;
}
.box {
  border-radius: 0 0 16px 16px;
  width: 280px;
  height: 16px;
  background-color: #3ddeed;
  margin-left: -24px;
  margin-bottom: -24px;
}
@media only screen and (min-width: 1440px) {
}
